extend layout

block header
  include header.pug

block content
  #content.site-content
    .ast-container
      #primary.content-area.primary
        main#main.site-main
          article#post-2.post-2.page.type-page.status-publish.has-post-thumbnail.ast-article-single
            header.entry-header.ast-header-without-markup.entry-content.clear
              h1 Tin tức bóng đá tổng hợp
              #fullwidthMobi
                .wrap-keonhacai
                  .heading_table
                    each ncate in data 
                      hr
                      h3.news-cate #{ncate.name}
                      
                      each news in ncate.news
                        .news-content
                          .news-thumb
                            a(href=`/tin-tuc/${news.id}`) 
                              img(src=`http://asset.asiasport.com/${news.coverImage}`, alt=`${news.title}`)
                          .news-text
                            .news-title 
                              a(href=`/tin-tuc/${news.id}`) #{news.title}
                            .news-time 
                              #{news.publishedOn} 

                  
      include left-menu.pug


block footer
  include footer.pug