
#date_select
    .date-info
        span.dateis=days[0].date
        span.dayofweek=days[0].dayOfWeek
    .date-info
        span.dateis=days[1].date
        span.dayofweek=days[1].dayOfWeek
    .date-info.today-info
        span.dateis=days[2].date
        span.dayofweek=days[2].dayOfWeek
    .date-info
        span.dateis=days[3].date
        span.dayofweek=days[3].dayOfWeek
    .date-info
        span.dateis=days[4].date
        span.dayofweek=days[4].dayOfWeek